@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

body, html {
    font-family: 'Nunito', sans-serif;
}

.logo {
    position: relative;
    animation: vertical 4s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes vertical {
    0%   { top: 0px; }
    33%  { top: -15px; }
    66%  { top: 15px; }
    100% { top: 0px; }
  }
